*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: rgb(203, 210, 210);
}
.header{
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    height: 40px;
}
.header1{
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: end;
    height: 15px;
    gap: 200px;
    
}

.logo{
    font-size: 29px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
.logo img{
    max-width: 150px;
    height: 70px;
}
header nav a{
    color: #e2e4e3;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}
header nav a:hover{
    color: #060707;
}
header a button{
    background-color:green;
    color: #e2e4e3;
    padding:10px 20px;
    border:none;
    border-radius:20px;
    font-size: 19px;
    cursor: pointer;
}
header a button:hover{
     background-color: rgb(7, 59, 7);
    color: antiquewhite;
}
.hero .slider{
    height:auto;
    position:relative;
}
.hero .slider {
    background-image: url(images/s1.png);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
    
}
.hero .slider h4{
    color: #f9fafa;
    font-weight: bold;    
    align-items: center;
    font-size: 40px;
}
.hero .slider h2{
    color: #ffffff;
    font-weight: bold;    
    align-items: center;
    font-size: 150px;
}
.hero .slider p{
    font-size: 32px;
    color: #ffffff;
}
.hero .slider .rdbtn{
    margin-top: 15px;
    color: blue;
    font-size: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px 0px 0px 0px;
}

/* Service */
.hero .slider .services{
    display: flex;
    justify-content: center;
    padding: 70px 50px;
    gap: 10px;
    text-align: center;
    
}
.hero .slider .services .service-card{
    background-color: white;
    padding: 30px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    transition:transform 0.3s ease;
}
.hero .slider .services .service-card:hover{
    transform: translateY(-15px);
}
.hero .slider .services .service-card h3{
    font-size: 24px;
    color: black ;
    margin-bottom: 10px;
} 
.hero .slider .services .service-card p{
    color: #060707;
    font-size: 18px;
}
.hero .slider .services .service-card .rdbtn{
    margin-top: 15px;
    color: blue;
    font-size: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px 0px 0px 0px;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 100px;
    text-align: left;
    
}
.about .about-image img{
    height: auto;
    width: 600px;
}
.about-content h2{
    font-size: 28px;
    color: blue;
}
.about-content h3{
    font-size: 54px;
    padding: 10px;
}
.about .about-content p{
    font-size: 22px;
    font-weight: lighter;
}
.about-content .about-list{
    list-style: circle;
    justify-content: center;
    padding: 10px;
    font-weight: bold;
    line-height: 35px;
    font-size: 20px;

}
.about .about-content h4{
    padding: 30px;
    font-size: 26px;
    font-weight: bolder;
    border: #060707;
    background-color: #ffffff;
    width: 700pxpx;
}
.about .about-content .section2btm{
    display: flex;
}
.about .about-content .section2btm button{
    margin-top: 15px;
    color: blue;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px 0px 0px 0px;
    font-size: 20px;
}
.about .about-content .section2btm button:hover{
    transform: translateY(10px);
    background-color: blue;
    color: #ffffff;
}
.about .about-content .section2btm .contact{
    font-size: 28px;
    padding: 20px;
}
footer{
    background-color:  rgb(5, 5, 41);
    color: white;
    
    justify-content: center;
    align-items: center;
    padding: 80px;
    
}
footer nav a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
/* footer */
.footer-wrapper{
    display:flex;
    justify-content: space-between;
    gap: 20px;
}

/* Left */
.footer-wrapper .about-company{
    width:30%;
    background-color: white;
    color: #060707;
    padding: 0px opx 0px 10px;
    align-items: center;
}
.footer-wrapper .about-company .image{
    background-color: blue;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;

}
/* Right */
.footer-right{
    width:70%;
}

/* Newsletter */
.newsletter{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:40px;
    background: rgb(5, 5, 41);
}
.newsletter h2{
    font-size: 32px;
}
 .newsletter input{
    font-size: 18px;
    border-color: #060707;
    border-radius: 10px;
    height: 40px;
    width: 40%;
}
.newsletter button{
    background-color: blue;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: none;
    height: 40px;
    width: 20%;
    font-size: 18px;
}

/* Bottom Columns */
.footer-links{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:40px;
    padding:50px 40px;
}
.footer-links .quick-links .links{
    justify-content: center;
    align-items: start;     
    list-style: none;
    margin: 10px;
    gap: 20px; 
}
.footer-links .popular-posts{
    justify-content: center;
    align-items: start;     
    list-style: none;
    gap: 20px; 
}
.footer-links .popular-posts a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    display: flex;
}
.news_letter{
    background-color: white;
    color: #060707;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
footer .way{
    display: none;
    

}